<%- include('../includes/navbar.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fresh Dairy Products</title>
  <link rel="stylesheet" href="../css/dairy/product.css">
</head>
<body>
   

  <section class="hero">
    <div class="hero-text">
      <h1 style="text-align: center;">Our Fresh Dairy Products</h1>
      <b><p style="text-align: center ;">Pure, Fresh & Delicious – Direct from Farms &amp Our Dairy to Your Home</p></b>
    </div>
    <img src="https://th.bing.com/th/id/OIP._odZVp1ouPQm4Znj8LsCPAHaEJ?w=314&h=184&c=7&r=0&o=5&pid=1.7" alt="Dairy Products Banner">
    <p class="sel"><b>Select our Dairy Product</b></p>
  </section>

  <section class="products">
    <div class="product-card">
      <img src="https://th.bing.com/th/id/OIP.WaPOdwqpotW9PXCtwrPikgHaHa?w=183&h=191&c=7&r=0&o=5&pid=1.7" alt="Ghee">
      <h3>Ghee</h3>
      <p>Pure Desi Ghee made from cow milk.</p>
      <button>Buy Now</button>
    </div>

    <div class="product-card">
      <img src="https://th.bing.com/th/id/OIP.bmUHO4yWWHjMYeT6jV5NlAHaE7?w=250&h=180&c=7&r=0&o=5&pid=1.7" alt="Paneer">
      <h3>Paneer</h3>
      <p>Soft and fresh paneer, Ideal for all recipes.</p>
      <button>Buy Now</button>
    </div>

    <div class="product-card">
      <img src="https://th.bing.com/th/id/OIP.mukVVhrdWcZZaInqD3TVbQHaFW?w=236&h=180&c=7&r=0&o=5&pid=1.7" alt="Sweets">
      <h3>Sweets</h3>
      <p><strong>Rasgulla</strong>, <strong>Gulab</strong> Jamun, Kalakand, etc.</p>
      <button>Buy Now</button>
    </div>

    <div class="product-card">
      <img src="https://th.bing.com/th/id/OIP.nFPWyhSEli_J6c0nbArHzAHaEK?w=331&h=186&c=7&r=0&o=5&pid=1.7" alt="Milk Products">
      <h3>Milk Products</h3>
      <p>Full Cream Milk, Curd, Butter, etc.</p>
      <button>Buy Now</button>
    </div>
  </section>

  
  <%- include('../includes/footer.ejs') %>
</body>
</html>
