<%- include('../includes/navbar.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy Management</title>
    <link rel="stylesheet" href="../css/user/main.css">
</head>
<body>
    <!-- Main Content -->
    <div class="container">
        <h1>Welcome to Dairy Management System</h1>
        <p>Efficiently manage dairy, milkmen, and customers with ease.</p>
        <div class="options">
            <a href="signup/dairy" class="option">Dairy</a>
            <a href="signup/milkman" class="option">Milkman</a>
            <a href="signup/customer" class="option">Customer</a>
        </div>
    </div><br><br><br><br><br>

    <!-- Footer Section -->
    <%- include('../includes/footer.ejs') %>

</body>
</html>
