  <%- include('../includes/navbar.ejs') %>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Meet the Team</title>
    <link rel="stylesheet" href="../css/others/contact.css">
  </head>
  <body>
  
    

    <!-- Milkman Contact Section -->
    <div class="tex1">
      <h1><b>Milkmate Contact </b></h1>
    </div>

    <section class="milkman-contact container">
      <!-- <h2>Milkman Contact Details</h2> -->
      <p><strong>Name:</strong>Milkmate Corporation Limited</p>
      <p><strong>Contact:</strong> +91 7973918569</p>
      <p><strong>Email:</strong> info@milkmate.com</p>
      <p><strong>Location:</strong>Indore, Madhya Pradesh, India</p>
      <div class="milkman-note" style="text-align: center; font-size: 25px;"><b>“Reach out anytime for fresh daily deliveries!”</b> <br> <b style="color: red;">“The above information is not the real information”</b></div>
    </section>

    <div class="tex">
      <h1><b>Meet Our Team</b></h1>
    </div>

    <main class="container">
      <!-- Person 1 -->
      <div class="person-card">
        <div class="photo-box">
          <span><img src="/images/Aashish.jpg" alt="Aashish Sencha"></span>

        </div>
        <div class="info-box">
          <h2>Aashish Sencha</h2>
          <p class="role">Full-Stack Developer</p>
          <p><strong>Email:</strong> senchaaashish200@gmail.com</p>
       
          <p><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/aashish-sencha-5855bb228" target="_blank">Aashish Sencha</a></p>
        </div>
      </div>


      <!-- Person 2 -->
      <div class="person-card">
        <div class="photo-box">
          <span><img src="/images/Shyam.jpg" alt="Shyam Patidar"></span>
 </div>
        <div class="info-box">
          <h2>Shyam Patidar</h2>
          <p class="role">Full-Stack Developer</p>
          <p><strong>Email:</strong> shyampatidar672@gmail.com</p>
          
          <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/shyam-patidar-736b77257?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B2myZL18qRXGIJvfmlHvSEA%3D%3D" target="_blank">Shyam Patidar</a></p>
        </div>
      </div>


      <!-- Person 3 -->
      <div class="person-card">
        <div class="photo-box">
          <span><img src="/images/Aditi.jpg" alt="Aditi Sharma" ></span>

        </div>
        <div class="info-box">
          <h2>Aditi Sharma</h2>
          <p class="role">UI/UX Designer</p>
          <p><strong>Email:</strong><br> aditish0820@gmail.com</p>
    
          <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/aditi-sharma-49839b2b5?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bo2%2BBonaeRDKKZD36mm%2BKxg%3D%3D" target="_blank">Aditi Sharma</a></p>
        </div>
      </div>

    
      <!-- Person 4 -->
      <div class="person-card">
        <div class="photo-box">
          <span><img src="/images/Dhruv.jpg" alt="Dhruv Gour"></span>
        </div>
        <div class="info-box">
          <h2>Dhruv Gour</h2>
          <p class="role">Full-Stack Developer</p>
          <p><strong>Email: </strong> <br> gourdhruv8@gmail.com</p>
      
          <p><strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/dhruv-gour-a82809258?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BmZe8a8jfSF66CRD3ZVh5jQ%3D%3D" target="_blank">Dhruv Gour</a></p>
        </div>
      </div>
    </main>

  <!-- Footer Section -->
  <%- include('../includes/footer.ejs') %>

  </body>
  </html>
