  <%- include('../includes/navbar.ejs') %>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Meet the Team</title>
    <link rel="stylesheet" href="../css/others/contact.css">
  </head>
  <body>
  
    

    <!-- Milkman Contact Section -->
    <div class="tex1">
      <h1><b>Milkmate Contact </b></h1>
    </div>

    <section class="milkman-contact container">
      <!-- <h2>Milkman Contact Details</h2> -->
      <p><strong>Name:</strong>Milkmate Corporation Limited</p>
      <p><strong>Contact:</strong> +91 7973918569</p>
      <p><strong>Email:</strong> info@milkmate.com</p>
      <p><strong>Location:</strong>Indore, Madhya Pradesh, India</p>
      <div class="milkman-note" style="text-align: center; font-size: 25px;"><b>“Reach out anytime for fresh daily deliveries!”</b> <br> <b style="color: red;">“The above information is not the real information”</b></div>
    </section>

    <div class="tex">
      <h1><b>Meet Our Team</b></h1>
    </div>

    <main class="container">
      <!-- Person 1 -->
      <div class="person-card">
        <div class="photo-box">
          <span><img src="/images/yashu.png" alt="Yashwant Choudhary"></span>

        </div>
        <div class="info-box">
          <h2>Yashwant Choudhary</h2>
          <p class="role">Full-Stack Developer</p>
          <p><strong>Email:</strong> yashuchoudharu3621@gmail.com</p>
       
          <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/yashwant-choudhary09" target="_blank">Yashwant Choudhary</a></p>
        </div>
      </div>
    </main>

  <!-- Footer Section -->
  <%- include('../includes/footer.ejs') %>

  </body>
  </html>
